body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: deepskyblue !important;
}
.options,
option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.option {
  flex-direction: column;
}
